.info .address {
  margin-bottom: 5px;
}
.detail .name {
  margin: 3px 0;
}
.detail ul {
  margin: 0;
  padding: 0 0 0 20px;
}
.detail .name, .services li, .languages li {
  text-transform: capitalize;
}
#lang-btn, #cvs-email-btn, #cvs-call-btn {
  position: fixed;
  z-index: 2000;
}
#cvs-email-btn, #cvs-call-btn {
  bottom: 3px;
  background-position: center;
}
.splash a {
  text-transform: capitalize;
  background-size: 22px;
  background-position: 3px center;
}
#splash.splash a {
  text-transform: none;
}
#cvs-email-btn, #cvs-call-btn, .splash a {
  background-repeat: no-repeat;
}
#cvs-call-btn {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512px%22%20height%3D%22512px%22%3E%3Cpath%20style%3D%22fill%3A%23fff%22%20d%3D%22M34%2C144.063v-36c0.031-6.406%2C7.406-17.844%2C7.719-18.125C98.188%2C32.5%2C175.438%2C0%2C256.063%2C0%20c80.813%2C0%2C158.313%2C32.656%2C214.813%2C90.438c0.063%2C0%2C7.125%2C11.25%2C7.125%2C17.625v36c0%2C13.188-9.688%2C28.875-21.5%2C34.75l-5.063%2C2.5%20c-11.75%2C5.938-30.813%2C5.375-42.25-1.125L366.875%2C156c-11.5-6.563-21.063-22.75-21.063-35.938V96.031%20C290.313%2C64.094%2C221.719%2C64.125%2C166.188%2C96v24.063c0%2C13.188-9.563%2C29.313-21%2C35.938l-42.375%2C24.125%20c-11.406%2C6.563-30.438%2C7.125-42.281%2C1.188l-5.031-2.5C43.688%2C172.875%2C34%2C157.25%2C34%2C144.063z%20M480%2C352v128c0%2C17.594-14.375%2C32-32%2C32%20H64c-17.563%2C0-32-14.406-32-32V352c0-17.594%2C10.188-42.188%2C22.625-54.625l82.75-82.75C149.813%2C202.188%2C174.438%2C192%2C192%2C192v-32%20c15.125-20.125%2C38.813-32%2C64-32s48.938%2C11.875%2C64%2C32v32c17.625%2C0%2C42.188%2C10.188%2C54.625%2C22.625l82.75%2C82.75%20C469.813%2C309.813%2C480%2C334.406%2C480%2C352z%20M352%2C352c0-53.031-42.938-96-96-96c-53%2C0-96%2C42.969-96%2C96s43%2C96%2C96%2C96%20C309.063%2C448%2C352%2C405.031%2C352%2C352z%20M256%2C288c-35.281%2C0-64%2C28.719-64%2C64s28.719%2C64%2C64%2C64c35.313%2C0%2C64-28.719%2C64-64%20S291.313%2C288%2C256%2C288z%22%2F%3E%3C%2Fsvg%3E");
}
a.phone, .info a.phone.ui-btn {
   background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512px%22%20height%3D%22512px%22%3E%3Cpath%20style%3D%22fill%3A%23007CBA%22%20d%3D%22M34%2C144.063v-36c0.031-6.406%2C7.406-17.844%2C7.719-18.125C98.188%2C32.5%2C175.438%2C0%2C256.063%2C0%20c80.813%2C0%2C158.313%2C32.656%2C214.813%2C90.438c0.063%2C0%2C7.125%2C11.25%2C7.125%2C17.625v36c0%2C13.188-9.688%2C28.875-21.5%2C34.75l-5.063%2C2.5%20c-11.75%2C5.938-30.813%2C5.375-42.25-1.125L366.875%2C156c-11.5-6.563-21.063-22.75-21.063-35.938V96.031%20C290.313%2C64.094%2C221.719%2C64.125%2C166.188%2C96v24.063c0%2C13.188-9.563%2C29.313-21%2C35.938l-42.375%2C24.125%20c-11.406%2C6.563-30.438%2C7.125-42.281%2C1.188l-5.031-2.5C43.688%2C172.875%2C34%2C157.25%2C34%2C144.063z%20M480%2C352v128c0%2C17.594-14.375%2C32-32%2C32%20H64c-17.563%2C0-32-14.406-32-32V352c0-17.594%2C10.188-42.188%2C22.625-54.625l82.75-82.75C149.813%2C202.188%2C174.438%2C192%2C192%2C192v-32%20c15.125-20.125%2C38.813-32%2C64-32s48.938%2C11.875%2C64%2C32v32c17.625%2C0%2C42.188%2C10.188%2C54.625%2C22.625l82.75%2C82.75%20C469.813%2C309.813%2C480%2C334.406%2C480%2C352z%20M352%2C352c0-53.031-42.938-96-96-96c-53%2C0-96%2C42.969-96%2C96s43%2C96%2C96%2C96%20C309.063%2C448%2C352%2C405.031%2C352%2C352z%20M256%2C288c-35.281%2C0-64%2C28.719-64%2C64s28.719%2C64%2C64%2C64c35.313%2C0%2C64-28.719%2C64-64%20S291.313%2C288%2C256%2C288z%22%2F%3E%3C%2Fsvg%3E");
}
.detail .phone {
  margin: 3px 0;
}
.splash a.email {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22256%22%20height%3D%22256%22%3E%3Cg%20style%3D%22fill%3A%23007CBA%22%3E%3Cpath%20d%3D%22M%2017.449848%2C61.790635%2083.660515%2C128%2017.451349%2C194.21108%22%2F%3E%3Cpath%20d%3D%22m%20238.54475%2C61.795141%20-66.20762%2C66.203709%2066.21515%2C66.21424%22%2F%3E%3Cpath%20d%3D%22M%20226.20285%2C49.45403%20128%2C147.66787%2029.794881%2C49.451104%22%2F%3E%3Cpath%20d%3D%22m%20159.9889%2C140.33177%20-31.99646%2C32.0421%20-31.988464%2C-32.03608%20-66.218134%2C66.20858%20196.425988%2C0.006%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.splash a.web, .info a.web.ui-btn {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512%22%20height%3D%22512%22%3E%3Cg%20transform%3D%22translate(0%2C-540.36216)%22%3E%3Cpath%20style%3D%22fill%3A%23007CBA%22%20d%3D%22m%20232.54271%2C936.565%20c%20-30.25356%2C-5.37255%20-55.22542%2C-18.37775%20-76.89294%2C-40.04529%20-20.10899%2C-20.10878%20-32.85411%2C-43.26783%20-38.71198%2C-70.34292%20-3.10432%2C-14.34818%20-3.32028%2C-43.93188%20-0.41973%2C-57.49704%206.17591%2C-28.88326%2016.96481%2C-49.24086%2037.29576%2C-70.37351%2021.6867%2C-22.54185%2045.74969%2C-35.68375%2076.67081%2C-41.87346%2011.57796%2C-2.31764%2042.65339%2C-1.79087%2055.26042%2C0.93674%2042.32362%2C9.15699%2078.89079%2C37.97529%2098.1684%2C77.36574%2010.27308%2C20.99127%2014.45068%2C41.90188%2013.48034%2C67.47473%20-0.88848%2C23.41577%20-5.04568%2C39.5742%20-15.27903%2C59.38734%20-18.81967%2C36.43742%20-54.3955%2C64.16072%20-94.15294%2C73.37071%20-12.30145%2C2.84965%20-43.32979%2C3.74379%20-55.41911%2C1.59696%20z%20m%2049.8772%2C-33.86906%20c%2013.01797%2C-3.16797%2031.77848%2C-12.69463%2042.11852%2C-21.38767%2022.24789%2C-18.70431%2037.09529%2C-46.55952%2039.77597%2C-74.6237%200.4317%2C-4.51953%200.43813%2C-8.21733%200.0143%2C-8.21733%20-0.42384%2C0%20-2.94132%2C1.24092%20-5.59438%2C2.7576%20-2.65307%2C1.51669%20-5.91656%2C2.76362%20-7.2522%2C2.77095%20-3.51627%2C0.0193%20-4.1298%2C1.87382%20-0.88905%2C2.6872%204.32431%2C1.08533%203.67645%2C5.94732%20-1.69859%2C12.74726%20-2.45405%2C3.1046%20-4.74144%2C7.26425%20-5.0831%2C9.24369%20-0.65212%2C3.77804%20-2.77384%2C11.2792%20-5.56384%2C19.6705%20-0.91208%2C2.74324%20-2.29698%2C7.23216%20-3.07754%2C9.97541%20-2.07752%2C7.30135%20-4.48122%2C11.42841%20-8.93271%2C15.33675%20-4.40328%2C3.86614%20-8.1646%2C5.17891%20-12.04678%2C4.20453%20-2.0915%2C-0.52493%20-3.49754%2C-2.96769%20-7.31402%2C-12.70678%20-4.52738%2C-11.55333%20-4.69355%2C-12.39936%20-3.97759%2C-20.25246%200.58808%2C-6.45052%200.35081%2C-9.13174%20-1.11441%2C-12.59286%20-1.02386%2C-2.41856%20-1.93426%2C-6.15935%20-2.02311%2C-8.31287%20l%20-0.16155%2C-3.91547%20-9.76928%2C-0.66783%20c%20-11.14652%2C-0.76199%20-14.19392%2C-2.36144%20-17.85337%2C-9.37044%20-3.23093%2C-6.18827%20-2.98482%2C-15.91015%200.58765%2C-23.21319%205.57305%2C-11.39279%205.36965%2C-11.2465%2017.74625%2C-12.76263%2014.18357%2C-1.73747%2019.02424%2C-1.12775%2026.07475%2C3.28431%20l%205.70216%2C3.5683%204.52095%2C-2.99182%20c%205.25052%2C-3.47462%205.06595%2C-4.46982%20-2.01557%2C-10.86755%20-5.16776%2C-4.66877%20-6.93245%2C-4.92762%20-12.10302%2C-1.77535%20-3.26008%2C1.98753%20-4.81303%2C2.18317%20-12.20854%2C1.53805%20-6.32053%2C-0.55134%20-9.9955%2C-0.28709%20-14.4645%2C1.04005%20-3.29513%2C0.97855%20-6.06723%2C1.65619%20-6.1602%2C1.50585%20-0.844%2C-1.36471%20-3.8875%2C-10.67155%20-3.8875%2C-11.88774%200%2C-0.86068%201.23062%2C-2.84936%202.7347%2C-4.41928%201.77405%2C-1.85171%203.26937%2C-5.40509%204.25674%2C-10.11547%201.89667%2C-9.04824%206.92285%2C-18.46317%2011.29634%2C-21.16%204.99426%2C-3.07966%2015.90831%2C-6.18779%2024.80707%2C-7.06466%209.50026%2C-0.93612%209.38357%2C-1.24946%20-3.64282%2C-9.78119%20-7.0341%2C-4.60704%20-10.55494%2C-6.15325%20-16.3038%2C-7.15999%20-12.11807%2C-2.12212%20-16.23242%2C-1.69008%20-24.74726%2C2.59872%20-6.28758%2C3.16697%20-8.92316%2C3.87293%20-14.40896%2C3.85954%20-8.8028%2C-0.0215%20-18.97935%2C-2.49128%20-30.30204%2C-7.35414%20l%20-9.17923%2C-3.94229%20-5.95011%2C2.41498%20c%20-7.26605%2C2.94907%20-21.81732%2C11.36879%20-23.82153%2C13.78371%20-1.29417%2C1.55939%20-0.98931%2C1.76442%202.62358%2C1.76442%205.5529%2C0%207.59908%2C1.23657%2017.24279%2C10.42038%208.6584%2C8.2455%2013.00297%2C10.95447%2020.5639%2C12.8222%204.88832%2C1.20754%2013.79593%2C8.09955%2013.79593%2C10.67421%200%2C0.88053%20-1.91293%2C3.7096%20-4.25098%2C6.28682%20-2.33803%2C2.57722%20-4.54959%2C5.51376%20-4.91458%2C6.52562%20-0.37575%2C1.04166%20-3.25528%2C2.59319%20-6.63776%2C3.5765%20-9.13836%2C2.65659%20-12.25811%2C7.91076%20-11.13847%2C18.759%200.81119%2C7.85977%20-1.16075%2C14.0729%20-4.45595%2C14.03959%20-2.90542%2C-0.0294%20-11.2559%2C-3.69332%20-12.31202%2C-5.40215%20-1.56325%2C-2.5294%20-2.68275%2C-1.09696%20-1.59078%2C2.03545%200.71033%2C2.03766%202.03887%2C3.38824%203.54458%2C3.60337%201.83411%2C0.26206%202.36315%2C1.03774%202.21865%2C3.25292%20-0.28813%2C4.41679%203.69169%2C5.72457%2014.64449%2C4.8122%2010.37846%2C-0.86451%2013.75646%2C0.35351%2024.02013%2C8.66106%203.22323%2C2.60893%209.94897%2C7.4292%2014.9461%2C10.7117%205.35959%2C3.52062%209.5697%2C7.14298%2010.26592%2C8.83279%201.631%2C3.95859%20-0.39587%2C19.07425%20-3.38588%2C25.25075%20-1.46526%2C3.02688%20-4.72347%2C6.64996%20-8.80393%2C9.78979%20-8.09339%2C6.22767%20-10.84874%2C10.0624%20-12.91486%2C17.97432%20-0.89585%2C3.43067%20-3.12346%2C9.19836%20-4.95023%2C12.81722%20-1.82678%2C3.61876%20-2.9091%2C6.98359%20-2.40517%2C7.47726%202.88866%2C2.82981%2032.53988%2C2.09839%2045.80574%2C-1.13011%20z%20m%20-66.17505%2C-26.35639%201.85571%2C-20.7737%20-5.80242%2C-12.20065%20c%20-5.34716%2C-11.24341%20-5.81843%2C-12.88901%20-6.00654%2C-20.97346%20-0.18886%2C-8.11591%20-0.45003%2C-9.01867%20-3.48797%2C-12.05662%20-2.2663%2C-2.26629%20-7.79988%2C-4.93156%20-17.85808%2C-8.60141%20-16.70127%2C-6.09366%20-23.02684%2C-9.79923%20-30.85237%2C-18.07359%20l%20-5.55834%2C-5.87711%20-0.65658%2C3.96892%20c%20-1.20268%2C7.26993%20-0.70156%2C24.06558%201.01103%2C33.88637%202.17105%2C12.44968%207.63699%2C26.948%2014.49909%2C38.45872%205.90879%2C9.91149%2020.60619%2C25.6794%2029.80676%2C31.97774%206.55993%2C4.49072%2018.35061%2C10.97741%2020.01825%2C11.01321%200.72342%2C0.0155%201.88966%2C-7.96672%203.03146%2C-20.74842%20z%22%2F%3E%3Cpath%20style%3D%22fill%3Anone%3Bstroke%3A%23007CBA%3Bstroke-width%3A33.25146484%3Bstroke-linecap%3Around%22%20d%3D%22m%20397.23929%2C710.06244%20a%2078.264018%2C242.6611%2080%200%201%2097.73523%2C44.16205%20l%200%2C0%20a%2078.264018%2C242.6611%2080%200%201%20-76.54431%2C74.83699%22%2F%3E%3Cpath%20style%3D%22fill%3Anone%3Bstroke%3A%23007CBA%3Bstroke-width%3A33.25146484%3Bstroke-linecap%3Around%22%20d%3D%22M%20114.76067%2C882.66186%20A%2078.264018%2C242.6611%2080%200%201%2017.025452%2C838.49981%2078.264018%2C242.6611%2080%200%201%2093.569758%2C763.66282%22%2F%3E%3Cpath%20style%3D%22fill%3Anone%3Bstroke%3A%23007CBA%3Bstroke-width%3A33.25146484%3Bstroke-linecap%3Around%22%20d%3D%22m%20418.43021%2C829.06148%20a%2078.264018%2C242.6611%2080%200%201%20-148.83983%2C44.37568%2078.264018%2C242.6611%2080%200%201%20-154.82971%2C9.2247%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-size: 30px;
}
#cvs-call-btn {
  left: 3px;
  background-size: 23px;
}
#cvs-email-btn  {
  left: 43px;
  background-size: 29px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22256%22%20height%3D%22256%22%3E%3Cg%20style%3D%22fill%3A%23fff%22%3E%3Cpath%20d%3D%22M%2017.449848%2C61.790635%2083.660515%2C128%2017.451349%2C194.21108%22%2F%3E%3Cpath%20d%3D%22m%20238.54475%2C61.795141%20-66.20762%2C66.203709%2066.21515%2C66.21424%22%2F%3E%3Cpath%20d%3D%22M%20226.20285%2C49.45403%20128%2C147.66787%2029.794881%2C49.451104%22%2F%3E%3Cpath%20d%3D%22m%20159.9889%2C140.33177%20-31.99646%2C32.0421%20-31.988464%2C-32.03608%20-66.218134%2C66.20858%20196.425988%2C0.006%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512px%22%20height%3D%22512px%22%3E%3Cpath%20style%3D%22fill%3A%23fff%22%20d%3D%22M%20256%206%20A%20250%20250%200%200%200%206%20256%20A%20250%20250%200%200%200%20256%20506%20A%20250%20250%200%200%200%20506%20256%20A%20250%20250%200%200%200%20256%206%20z%20M%20255.49414%2050%20C%20345.00714%2050%20385.25%20109.94902%20385.25%20166.16602%20C%20385.25%20255.64602%20294.86523%20271.18939%20294.86523%20328.90039%20L%20294.86523%20337%20L%20220.63672%20337%20L%20220.63672%20328.90039%20C%20220.63672%20305.97839%20223.9798%20276.57377%20250.5918%20251.00977%20C%20277.2048%20225.44277%20310.46289%20204.32277%20310.46289%20172.38477%20C%20310.46289%20137.07577%20285.9585%20118.40039%20255.0625%20118.40039%20C%20203.5795%20118.40039%20200.21627%20171.79283%20198.94727%20183.54883%20L%20126.75%20183.54883%20C%20128.673%20127.87383%20152.20614%2050%20255.49414%2050%20z%20M%20259.46289%20371.94141%20C%20284.33289%20371.94141%20304.49023%20392.09994%20304.49023%20416.96094%20C%20304.49023%20441.83394%20284.33289%20462%20259.46289%20462%20C%20234.59889%20462%20214.43164%20441.83394%20214.43164%20416.96094%20C%20214.43164%20392.10094%20234.59889%20371.94141%20259.46289%20371.94141%20z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 26px;
}
#lang-btn {
  bottom: 40px;
  left: 83px;
}
#share-btn {
  display: none;
}
.splash {
	align-content: center;
  display: flex;
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
}
#contact {
  display: none;
  opacity: 0;
}
#splash h1, #splash span {
  text-transform: capitalize;
}
#splash h1, #splash p, .splash span {
  color: #fff;
}
.splash div.content {
  background-color: rgb(0,124,186);
  min-width: 300px;
  width: 350px;
  max-width: calc(100% - 20px);
  max-height: calc(100% - 150px);
  padding: 20px 10px 30px 10px;
  border-radius: 3px;
  margin: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
#contact.splash div.content {
  width: auto;
  max-width: 100%;
  max-height: calc(100% - 144px);
}
@media all and (-ms-high-contrast:none) {
  .splash div.content {
    width: 350px;
    height: 300px;
  }
  #splash.splash div.content {
    height: 200px;
  }
}

#contact .ui-btn:first-of-type {
	margin-top: 20px;
}
#splash div.content h1 {
    position: relative;
    margin: -10px 0 0 0;
    font-size: 24px;
}
.splash div.close a {
	width: 16px;
	height: 16px;
  background-size: 16px;
	float: right;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214px%22%20height%3D%2214px%22%3E%3Cpolygon%20fill%3D%22%23FFF%22%20points%3D%2214%2C3%2011%2C0%207%2C4%203%2C0%200%2C3%204%2C7%200%2C11%203%2C14%207%2C10%2011%2C14%2014%2C11%2010%2C7%20%22%2F%3E%3C%2Fsvg%3E");
	cursor: pointer;
	margin: -10px 0;
}
.splash div.close div.close {
	display: block;
	min-height: 10px;
	width: auto;
}
#panel, #facility-list, #filter-tab, #filter-tab div.ui-collapsible-content {
  background-color: rgb(204,225,230);
}
#facility-list .info.even-row, #filter-tab, #facility-tab,
.ui-page-theme-a .ui-btn.ui-btn-active {
  background-color: rgb(179,219,231);
}
.ui-page-theme-a .ui-btn.ui-btn-active {
	color: #000;
}
.ui-mobile-viewport h1.banner, h1.banner span {
  background-color: #7bb3d2;
  color: #000;
}
.ui-mobile-viewport h1.banner {
  background-image: url(../img/criminaljustice-logo.png);
  background-size: 135px 24px;
  padding-left: 145px;
}
.ctl-btn.ui-btn, .ctl-btn.ui-btn:visited,
.ui-btn.ui-checkbox-on:after,
.dir-mode-btn.ui-btn,
.ui-btn-icon-left:after,
a.popup-closer,
.pager-btns button.ui-btn:after,
.btn-srch-typ:after, .fld-srch-container .ui-input-clear:after, .mnu-srch-typ .ui-btn-icon-left:after,
.detail .ui-btn:after {
  background-color: rgba(0,124,186,.5);
}
.fld-srch-container .ui-listview>.ui-li-static:hover {
  background-color: rgb(0,124,186);
}
.fld-srch-container .ui-listview>.ui-li-static:hover span {
  color: #fff;
}
.ctl-btn.ui-btn:hover, .ctl-btn.ui-btn:visited,
.dir-mode-btn.active-mode, .dir-mode-btn.ui-btn:hover,
.ui-btn-icon-left:hover:after,
a.popup-closer:hover,
.ctl-collapse a.ui-collapsible-heading-toggle:hover:after,
.pager-btns button.ui-btn:hover:after,
.btn-srch-typ:hover:after, .fld-srch-container .ui-input-clear:hover:after,
.detail .ui-btn:hover:after {
  background-color: rgb(0,124,186);
}
.info .name.accessible {
	background-image: url(../img/acc.svg);
	background-size: 20px;
	background-repeat: no-repeat;
	padding-left: 23px;
}
.info a.map.ui-btn {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512%22%20height%3D%22512%22%3E%3Cpath%20style%3D%22fill%3A%23007CBA%3Bstroke%3A%23007CBA%3Bstroke-width%3A20%22%20d%3D%22m%20256%2C25.6%20c%20-95.4279%2C0%20-172.8%2C77.3721%20-172.8%2C172.8%200%2C95.4279%20144%2C288%20172.8%2C288%2028.8%2C0%20172.8%2C-192.5721%20172.8%2C-288%20C%20428.8%2C102.9721%20351.4279%2C25.6%20256%2C25.6%20Z%20m%200%2C288%20c%20-63.5346%2C0%20-115.2%2C-51.6942%20-115.2%2C-115.2%200%2C-63.5058%2051.6654%2C-115.2%20115.2%2C-115.2%2063.5346%2C0%20115.2%2C51.6942%20115.2%2C115.2%200%2C63.5058%20-51.6654%2C115.2%20-115.2%2C115.2%20z%22%2F%3E%3C%2Fsvg%3E");
}

.info a.directions.ui-btn {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512px%22%20height%3D%22512px%22%3E%3Cpath%20d%3D%22M504.401%2C237.893L273.994%2C7.486c-9.988-9.981-26.245-9.981-36.102%2C0L7.486%2C237.893c-9.981%2C9.988-9.981%2C26.251%2C0%2C36.227%20%20l230.406%2C230.282v0.125c9.988%2C9.987%2C26.251%2C9.987%2C36.227%2C0l230.407-230.407C514.514%2C264.006%2C514.514%2C247.881%2C504.401%2C237.893z%20%20%20M307.145%2C319.945v-64.002H204.742v76.803H153.54V230.343c0-14.207%2C11.395-25.601%2C25.601-25.601h128.004V140.74l89.604%2C89.603%20%20L307.145%2C319.945z%22%20fill%3D%22%23007CBA%22%2F%3E%3C%2Fsvg%3E");
}
.goog-tranlated .splash .ui-btn {
	white-space: normal;
	padding-left: 30px;
	padding-right: 30px;
}
.pager-btns {
  z-index: 3000;
}
span.srch-lbl-sm {
  font-size: 80%;
}
a.filter-info, a.filter-info:hover {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  display: inline-block;
  float: right;
  color: rgb(0,124,186);
  border: 3px solid rgb(0,124,186);
  border-radius: 50%;
  font-size: 80%;
  font-weight: bold;
  text-align: center;
  margin-top: -2px;
}
.inf-full-screen .info .ui-btn.directions {
  display: block;
  width: auto;
  margin-bottom: 5px;
}
div.filter-info {
  display: none;
  font-weight: normal;
}
@media only screen and (max-width : 750px), screen and (max-device-height: 350px) {
  #panel-content {
    height: calc(100% - 45px);
  }
}