span.srch-lbl-sm {
  font-size: 80%;
}
.fnd #banner {
  background-color: #7bb3d2;
  color: #000;
  background-image: url(../img/criminaljustice-logo.png);
  background-size: 135px 24px;
  padding-left: 142px;
}

.clps h3 {
  text-align: center;
}

.facility a.btn.phone {
  padding-left: 28px;
  width: calc(50% - 33px);
}
#facilities {
  background-color:#B3DBE7;
}

.tabs .btns button.btn.active {
  background-color:#B3DBE7;
  color: black;
}

.btn-sq{
  background-color: rgba(0,124,186,.5);
  color: black;
}
.btn-sq:hover {
  background-color: #B3DBE7;
}

.btn-z-in {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214px%22%20height%3D%2214px%22%3E%3Cpolygon%20points%3D%2214%2C5%209%2C5%209%2C0%205%2C0%205%2C5%200%2C5%200%2C9%205%2C9%205%2C14%209%2C14%209%2C9%2014%2C9%22%20fill%3D%22%23000%22%2F%3E%3C%2Fsvg%3E");
 }

.btn-z-out {
 background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214px%22%20height%3D%2214px%22%3E%3Crect%20y%3D%225%22%20width%3D%2214%22%20height%3D%224%22%20fill%3D%22%23000%22%2F%3E%3C%2Fsvg%3E");
}

.btn-geo {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%3E%3Cg%20style%3D%22stroke%3A%23000%3Bstroke-width%3A2%3Bfill%3Anone%22%3E%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%225%22%2F%3E%3Cpolyline%20points%3D%220%2C7%204.5%2C7%22%2F%3E%3Cpolyline%20points%3D%229.5%2C7%2014%2C7%22%2F%3E%3Cpolyline%20points%3D%227%2C0%207%2C4.5%22%2F%3E%3Cpolyline%20points%3D%227%2C14%207%2C9.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

#lng .btn-sq {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22256%22%20height%3D%22256%22%3E%3Cpath%20d%3D%22m%2028.1%2C12.8%20c%20-8.64%2C0%20-15.3%2C6.66%20-15.3%2C15.3%20l%200%2C104.7%20c%200%2C7.68%206.66%2C14.4%2015.3%2C14.4%20l%2023.1%2C0%20-19.2%2C19.2%209.6%2C0%200%2C28.8%2028.8%2C28.8%2028.8%2C0%200%2C9.6%209.6%2C-9.6%200%2C3%20c%200%2C8.64%207.56%2C16.2%2016.2%2C16.2%20l%20102%2C0%20c%208.64%2C0%2016.2%2C-7.56%2016.2%2C-16.2%20l%200%2C-102%20c%200%2C-8.64%20-7.56%2C-16.2%20-16.2%2C-16.2%20l%20-78.9%2C0%200%2C-80.7%20c%20-0.96%2C-8.64%20-7.56%2C-15.3%20-16.2%2C-15.3%20l%20-103.8%2C0%20z%20m%202.1%2C17.4%2099.6%2C0%200%2C78.6%20-4.8%2C0%20c%20-8.64%2C0%20-16.2%2C7.56%20-16.2%2C16.2%20l%200%2C6%20-78.6%2C0%200%2C-100.8%20z%20m%2040.2%2C11.4%200%2C9.6%20-28.8%2C0%200%2C9.6%2059.1%2C0%20C%2094.707191%2C71.877461%2087.315449%2C80.799287%2079.7%2C88.1%2076.011559%2C84.868487%2072.790584%2C81.779101%2070.4%2C79.1%2063.932078%2C71.851466%2062%2C67.7%2062%2C67.7%20l%20-12%2C5.4%20c%200%2C0%202.747922%2C6.648534%2010.2%2C15%202.471241%2C2.769494%205.69058%2C5.822522%209.3%2C9%20-15.412245%2C11.84203%20-29.1%2C16.8%20-29.1%2C16.8%20l%204.5%2C12.9%20c%200%2C0%2016.933957%2C-5.9946%2035.4%2C-21%205.376718%2C3.87857%2011.429626%2C7.73742%2018.6%2C11.7%20l%206.3%2C-11.7%20c%20-5.650438%2C-3.12261%20-10.377325%2C-6.25778%20-14.7%2C-9.3%208.557086%2C-8.493857%2016.83825%2C-18.961785%2023.4%2C-31.8%20l%20-7.8%2C-3.9%2012.3%2C0%200%2C-9.6%20-28.8%2C0%200%2C-9.6%20-19.2%2C0%20z%20m%2096.9%2C89.4%2020.1%2C0%2032.7%2C89.1%20-21%2C0%20-6.9%2C-19.2%20-31.5%2C0%20-6.9%2C19.2%20-20.1%2C0%2033.6%2C-89.1%20z%20m%20-106.5%2C16.2%2048%2C0%200%2C48%20-9.6%2C-9.6%200%2C9.6%20-28.8%2C0%200%2C-28.8%209.6%2C0%20-19.2%2C-19.2%20z%20m%20115.2%2C8.7%20-11.4%2C31.5%2021.9%2C0%20-10.5%2C-31.5%20z%22%20fill%3D%22%23000%22%2F%3E%3C%2Fsvg%3E");
}

.btn-shr {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%22256%22%20width%3D%22256%22%3E%3Cg%20transform%3D%22matrix(2.176%2C0%2C0%2C2.176%2C40.96%2C30.08)%22%20fill%3D%22%23000%22%3E%3Cpath%20d%3D%22m%2065%2C60%20c%20-3.436%2C0%20-6.592%2C1.168%20-9.121%2C3.112%20L%2029.783%2C47.455%20C%2029.914%2C46.654%2030%2C45.837%2030%2C45%2030%2C44.161%2029.914%2C43.346%2029.783%2C42.544%20L%2055.879%2C26.887%20C%2058.408%2C28.833%2061.564%2C30%2065%2C30%2073.283%2C30%2080%2C23.283%2080%2C15%2080%2C6.717%2073.283%2C0%2065%2C0%2056.717%2C0%2050%2C6.717%2050%2C15%20c%200%2C0.837%200.086%2C1.654%200.219%2C2.455%20L%2024.123%2C33.112%20C%2021.594%2C31.168%2018.438%2C30%2015%2C30%206.717%2C30%200%2C36.717%200%2C45%20c%200%2C8.283%206.717%2C15%2015%2C15%203.438%2C0%206.594%2C-1.167%209.123%2C-3.113%20L%2050.219%2C72.544%20C%2050.086%2C73.346%2050%2C74.161%2050%2C75%20c%200%2C8.283%206.717%2C15%2015%2C15%208.283%2C0%2015%2C-6.717%2015%2C-15%200%2C-8.283%20-6.717%2C-15%20-15%2C-15%20z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.fnd .btn.map {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512%22%20height%3D%22512%22%3E%3Cpath%20d%3D%22m%20256%2C25.6%20c%20-95.4279%2C0%20-172.8%2C77.3721%20-172.8%2C172.8%200%2C95.4279%20144%2C288%20172.8%2C288%2028.8%2C0%20172.8%2C-192.5721%20172.8%2C-288%20C%20428.8%2C102.9721%20351.4279%2C25.6%20256%2C25.6%20Z%20m%200%2C288%20c%20-63.5346%2C0%20-115.2%2C-51.6942%20-115.2%2C-115.2%200%2C-63.5058%2051.6654%2C-115.2%20115.2%2C-115.2%2063.5346%2C0%20115.2%2C51.6942%20115.2%2C115.2%200%2C63.5058%20-51.6654%2C115.2%20-115.2%2C115.2%20z%22%20fill%3D%22#007CBA%22%2F%3E%20%3C%2Fsvg%3E");
}
/*fill%3D%22#007CBA */
.fnd .btn.dir {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512%22%20height%3D%22512%22%3E%3Cpath%20d%3D%22M504.401%2C237.893L273.994%2C7.486c-9.988-9.981-26.245-9.981-36.102%2C0L7.486%2C237.893c-9.981%2C9.988-9.981%2C26.251%2C0%2C36.227%20l230.406%2C230.282v0.125c9.988%2C9.987%2C26.251%2C9.987%2C36.227%2C0l230.407-230.407C514.514%2C264.006%2C514.514%2C247.881%2C504.401%2C237.893z%20%20M307.145%2C319.945v-64.002H204.742v76.803H153.54V230.343c0-14.207%2C11.395-25.601%2C25.601-25.601h128.004V140.74l89.604%2C89.603%20L307.145%2C319.945z%22%20fill%3D%22#007CBA%22%2F%3E%3C%2Fsvg%3E");
}

.splash a.email {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22256%22%20height%3D%22256%22%3E%3Cg%20fill%3D%22#007CBA%22%3E%3Cpath%20d%3D%22M%2017.449848%2C61.790635%2083.660515%2C128%2017.451349%2C194.21108%22%2F%3E%3Cpath%20d%3D%22m%20238.54475%2C61.795141%20-66.20762%2C66.203709%2066.21515%2C66.21424%22%2F%3E%3Cpath%20d%3D%22M%20226.20285%2C49.45403%20128%2C147.66787%2029.794881%2C49.451104%22%2F%3E%3Cpath%20d%3D%22m%20159.9889%2C140.33177%20-31.99646%2C32.0421%20-31.988464%2C-32.03608%20-66.218134%2C66.20858%20196.425988%2C0.006%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.fnd .btn.phone {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%221792%22%20width%3D%221792%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1600%201240q0%2027-10%2070.5t-21%2068.5q-21%2050-122%20106-94%2051-186%2051-27%200-52.5-3.5t-57.5-12.5-47.5-14.5-55.5-20.5-49-18q-98-35-175-83-128-79-264.5-215.5t-215.5-264.5q-48-77-83-175-3-9-18-49t-20.5-55.5-14.5-47.5-12.5-57.5-3.5-52.5q0-92%2051-186%2056-101%20106-122%2025-11%2068.5-21t70.5-10q14%200%2021%203%2018%206%2053%2076%2011%2019%2030%2054t35%2063.5%2031%2053.5q3%204%2017.5%2025t21.5%2035.5%207%2028.5q0%2020-28.5%2050t-62%2055-62%2053-28.5%2046q0%209%205%2022.5t8.5%2020.5%2014%2024%2011.5%2019q76%20137%20174%20235t235%20174q2%201%2019%2011.5t24%2014%2020.5%208.5%2022.5%205q18%200%2046-28.5t53-62%2055-62%2050-28.5q14%200%2028.5%207t35.5%2021.5%2025%2017.5q25%2015%2053.5%2031t63.5%2035%2054%2030q70%2035%2076%2053%203%207%203%2021z%22%20fill%3D%22#007CBA%22%2F%3E%3C%2Fsvg%3E");
}

.fnd .btn.web {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2050.26%2050.26%22%3E%3Cpath%20d%3D%22M46.36%2C22.77l-9.44%2C9.43A13.18%2C13.18%2C0%2C0%2C1%2C16%2C29.52l4.38-4.38a3.14%2C3.14%2C0%2C0%2C1%2C.71-.47%2C6.56%2C6.56%2C0%2C0%2C0%2C1.65%2C2.83%2C6.68%2C6.68%2C0%2C0%2C0%2C9.43%2C0l9.43-9.43a6.67%2C6.67%2C0%2C0%2C0-9.43-9.43L28.85%2C12a16.73%2C16.73%2C0%2C0%2C0-8.51-.93l7.15-7.15A13.34%2C13.34%2C0%2C0%2C1%2C46.36%2C22.77ZM21.41%2C38.28l-3.36%2C3.36a6.67%2C6.67%2C0%2C0%2C1-9.43-9.44l9.43-9.43a6.67%2C6.67%2C0%2C0%2C1%2C9.43%2C0%2C6.6%2C6.6%2C0%2C0%2C1%2C1.65%2C2.83%2C3.19%2C3.19%2C0%2C0%2C0%2C.71-.47l4.38-4.38a13.12%2C13.12%2C0%2C0%2C0-2-2.69%2C13.34%2C13.34%2C0%2C0%2C0-18.87%2C0L3.91%2C27.49A13.34%2C13.34%2C0%2C0%2C0%2C22.77%2C46.36l7.15-7.15A16.73%2C16.73%2C0%2C0%2C1%2C21.41%2C38.28Z%22%20fill%3D%22#007CBA%22%2F%3E%3C%2Fsvg%3E");
}

.clps h3::before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214px%22%20height%3D%2214px%22%3E%3Cpolygon%20points%3D%222.051%2C10.596%207%2C5.646%2011.95%2C10.596%2014.07%2C8.475%207%2C1.404%20-0.071%2C8.475%20%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E");
  background-color: #007CBA;
  opacity: 0.50; 
}   

.clps h3:hover:before {
  background-color: #007CBA;
  opacity: 1;
}
            
.facility .name.accessible {
  background-image: url("../img/acc.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 23px;
  padding-bottom: 5px;
}

.pop .btn-x {
 background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214px%22%20height%3D%2214px%22%3E%3Cpolygon%20points%3D%2214%2C3%2011%2C0%207%2C4%203%2C0%200%2C3%204%2C7%200%2C11%203%2C14%207%2C10%2011%2C14%2014%2C11%2010%2C7%20%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E");
 background-color: #007CBA;
 opacity: 0.50;  
}

.pop .btn-x:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214px%22%20height%3D%2214px%22%3E%3Cpolygon%20points%3D%2214%2C3%2011%2C0%207%2C4%203%2C0%200%2C3%204%2C7%200%2C11%203%2C14%207%2C10%2011%2C14%2014%2C11%2010%2C7%20%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E");
  background-color: #007CBA;
  opacity: 1;  
 }