span.srch-lbl-sm {
  font-size: 80%;
}
.fnd #banner {
  background-color: #7bb3d2;
  color: #000;
  background-image: url(../img/criminaljustice-logo.png);
  background-size: 135px 24px;
  padding-left: 142px;
}

.reset {
  width: 100px;
  margin-left: calc(50% - 50px);
  margin-top: 10px;
}

.clps button, .reset {
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
}

.facility a.btn.phone {
  padding-left: 28px;
  width: calc(50% - 33px);
}
#facilities {
  background-color:#B3DBE7;
}

.tabs .btns button.btn.active {
  background-color:#B3DBE7;
  color: black;
}

.btn-sq{
  background-color: #004466;
  color: black;
  border: 1px solid black;
}
.btn-sq:hover {
  background-color: #B3DBE7;
}

.fnd .btn.phone, a.btn.rad-all.call, .btn-phn {
  background-image: var(--phone-icon-medium);  
}

#phn {
  position: absolute;
  left: 3px;
  bottom: 5px;
  height: 35px;
  width: 33px;
  z-index: 1;
}
.btn-phn {
  background-image: var(--phone-icon-light);
}

#info {
  position: absolute;
  left: 42px;
  bottom: 5px;
  height: 35px;
  width: 33px;
  z-index: 1;
}

 .btn-info {
  background-image: var(--info-icon-light);
} 

.shr {
  position: absolute;
  left: 5px;
  bottom: 45px;
  height: 35px;
  width: 33px;
}
.btn-shr {
  height: 35px;
  width: 33px;
  margin-right: 9px;
}
#lng.button .btn-sq, #lng.button select {
  position: absolute;
  left: 79px;
  bottom: -38px;
  height: 35px;
  width: 33px;
  z-index: 1;
}

.clps button:before {
  /* background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214px%22%20height%3D%2214px%22%3E%3Cpolygon%20points%3D%222.051%2C10.596%207%2C5.646%2011.95%2C10.596%2014.07%2C8.475%207%2C1.404%20-0.071%2C8.475%20%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E"); */
  background-color: #004466;
  opacity: 0.50;
}   

.clps button:hover:before {
  background-color: #004466;
  opacity: 1;
}
            
.facility .name.accessible {
  background-image: url("../img/acc.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 23px;
  padding-bottom: 5px;
}

/* .facility .name.fjc {
  background-image: url("../img/icon-fjc.svg");
  background-size: 2px;
  background-repeat: no-repeat;
  padding-left: 23px;
  padding-bottom: 5px;
} */

/* .facility .name.accessible.fjc {
  background: url("../img/icon-fjc.svg") right top no-repeat, url("../img/acc.svg") left top no-repeat;
  background-size: 20px;
} */


.pop .btn-x {
 background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214px%22%20height%3D%2214px%22%3E%3Cpolygon%20points%3D%2214%2C3%2011%2C0%207%2C4%203%2C0%200%2C3%204%2C7%200%2C11%203%2C14%207%2C10%2011%2C14%2014%2C11%2010%2C7%20%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E");
 background-color: #004466;
 opacity: 0.50;  
}

.pop .btn-x:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214px%22%20height%3D%2214px%22%3E%3Cpolygon%20points%3D%2214%2C3%2011%2C0%207%2C4%203%2C0%200%2C3%204%2C7%200%2C11%203%2C14%207%2C10%2011%2C14%2014%2C11%2010%2C7%20%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E");
  background-color: #004466;
  opacity: 1;  
 }

 a.filter-info {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  display: inline-block;
  float: right;
  color: rgb(0,124,186);
  border: 3px solid rgb(0,124,186);
  border-radius: 50%;
  font-size: 80%;
  font-weight: bold;
  text-align: center;
  margin-top: 2px;
  line-height: 130%;
  cursor: pointer;

 }

 .filter-info {
  display: none;
  line-height: 130%;
  font-weight: normal;
 }

 .chc-chc {
   font-weight: bold;
 }

 .chc-chc label {
   line-height: 150%;
 }

 .clps div.content {
   background-color: #CCE1E6;
   line-height: 20px;
 }

 .tabs .container .tab.active {
  background-color: #B3DBE7;
 }

 .chc {
  border: 1px solid;
  border-radius: 5px;
  width: 75%;
  margin-left: calc(25% - 40px);
}
.detail .name, .services li, .languages li {
  text-transform: capitalize;
}
.dtl ul {
  padding-inline-start: 25px;
  margin-block-start: 3px;
  margin-bottom: 5px;
}
.detail .name {
  padding-bottom: 15px;
}
.btn {
  border: 1px solid black;
}
.tabs .btns button.btn {
  border: 1px ridge black;
  margin-top: -.75px;
  margin-left: 1px;
}

.fnd .splash .dia, .phone-dia .dia, .info-dia .dia {
  background-color: #004466;
}
.fnd .splash .dia-msg button, #phone-content a {
  display: block;
  /* background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%221792%22%20width%3D%221792%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1600%201240q0%2027-10%2070.5t-21%2068.5q-21%2050-122%20106-94%2051-186%2051-27%200-52.5-3.5t-57.5-12.5-47.5-14.5-55.5-20.5-49-18q-98-35-175-83-128-79-264.5-215.5t-215.5-264.5q-48-77-83-175-3-9-18-49t-20.5-55.5-14.5-47.5-12.5-57.5-3.5-52.5q0-92%2051-186%2056-101%20106-122%2025-11%2068.5-21t70.5-10q14%200%2021%203%2018%206%2053%2076%2011%2019%2030%2054t35%2063.5%2031%2053.5q3%204%2017.5%2025t21.5%2035.5%207%2028.5q0%2020-28.5%2050t-62%2055-62%2053-28.5%2046q0%209%205%2022.5t8.5%2020.5%2014%2024%2011.5%2019q76%20137%20174%20235t235%20174q2%201%2019%2011.5t24%2014%2020.5%208.5%2022.5%205q18%200%2046-28.5t53-62%2055-62%2050-28.5q14%200%2028.5%207t35.5%2021.5%2025%2017.5q25%2015%2053.5%2031t63.5%2035%2054%2030q70%2035%2076%2053%203%207%203%2021z%22%20fill%3D%22#004466%22%2F%3E%3C%2Fsvg%3E"); */
  background-position: 5px 50%;
  background-size: 28px;
  color: #000;
  text-align: center;
}

#info-content a {
  display: block;
  background-position: 5px 50%;
  background-size: 28px;
  color: #000;
  text-align: center;
}
.fnd .splash .dia-msg button {
  width: 100%;
  height: 43px;
}
.fnd .splash .dia a.btn-ok {
  width: 150px;
}
.dia-msg h1 {
  font-size: 24px;
  margin: -10px 0 0 0;
}
#phone-content a, #info-content a {
  white-space: normal;
  height: auto;
  margin-bottom: 5px;
  padding: 8px 30px;
}
.phone-dia .dia, .info-dia .dia {
  width: 400px;
  margin-left: -208px;
  margin-top: -140px;
}

#info-content a {
  white-space: normal;
  height: auto;
  margin-bottom: 5px;
  padding: 8px 30px;
}

#info-content p {
  color: white;
}

@media only screen and (max-width : 499px) {
  .phone-dia .dia, .info-dia .dia {
    width: 90%;
    height: auto;
    max-height: 300px;
    padding: 8px;
    margin-left: calc(-45% - 8px);
  }
}
@media only screen and (max-height : 400px) {
  .phone-dia .dia, .info-dia .dia {
    width: 90%;
    height: auto;
    max-height: 290px;
    padding: 8px;
    margin-left: calc(-45% - 8px);
  }
}

.pop>.content .name {
  margin-right: -8px;
}

.fnd .lst-it .btn:first-of-type, .fnd .pop .btn:first-of-type {
  margin-top: 8px;
}

.pop>.content {
  overflow: hidden;
  max-width: 300px;
}